
					 <!--右边侧边栏开始-->
					  <div class="col-md-4 col-sm-12">
								<div class="content-nav">
								<div class="widget-siderbar">
									  <div class="widget-title">
										<h2>搜索</h2>
										</div>
										<form action="{:url('Index/search')}" method="">
											<div class="input-group">
												<input type="text" name="search"  class="form-control" placeholder="Search for...">
												<span class="input-group-btn">
													<button class="btn btn-default" type="submit">
														<span class="glyphicon glyphicon-search"></span>
													</button>
												</span>
											</div><!-- /input-group -->
										</form>	
								</div>	
							
								<div class="widget-siderbar">
											<div class="widget-title">
											<h2>最新文章</h2>
											</div>
											<!-- <ul class="list-unstyled">
												{foreach name="articles" item="ar"}
												<li><span class="glyphicon glyphicon-heart"></span> &nbsp;<a href="{:url('Article/index',array('id'=>$ar.id))}">{$ar.title}</a></li>
												{/foreach}
											</ul>	 -->
											{foreach name="articles" item="ar"}
											<div class="row" style="margin-bottom: 15px;">
											  <div class="col-md-4 col-sm-12">
											  	<!--缩略图开始-->
											  	<a href="#" class="">
											  		<img src="__IMG__/{$ar.pic}" alt="mrth1">
											  	</a>
											  	<!--缩略图结束-->
											  </div>
											  <div class="col-md-8 col-sm-12">
											  <div class="right-post">
												  <h5><a href="{:url('Article/index',array('id'=>$ar.id))}">{$ar.title}</a></h5>
												  <div class="right-post-time">
													<time datetime="2019-02-18">{:date('Y-m-d',$ar.time)}</time>
												  </div>
												  </div>
												  </div>
											</div>
											{/foreach}
									</div>	
								
									
								
								
							  </div>
						</div>
					 <!--右边侧边栏结束-->