 <div class="navbar-default" style="margin-top: 51px;" id="slider">
	  <ul class="nav">
		<li><a href="#sub1" data-toggle="collapse"><span class="glyphicon glyphicon-user"></span> 用户管理<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>  
		<ul class="nav collapse" id="sub1">
			<li><a href="{:url('Admin/index')}"><span class="glyphicon glyphicon-hand-right"></span> 管理员列表</a></li>
			<li><a href="{:url('User/index')}"><span class="glyphicon glyphicon-hand-right"></span> 用户列表</a></li>
		</ul>
			
		<li><a href="#sub2" data-toggle="collapse"><span class="glyphicon glyphicon-list-alt"></span> 文章管理<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>  
		<ul class="nav collapse" id="sub2">
			<li><a href="{:url('Article/index')}"><span class="glyphicon glyphicon-hand-right"></span> 文章列表</a></li>
			<li><a href="{:url('Comment/index')}"><span class="glyphicon glyphicon-hand-right"></span> 评论列表</a></li>
			<li><a href="{:url('About/index')}"><span class="glyphicon glyphicon-hand-right"></span> 关于列表</a></li>

		</ul>		
		
		<li><a href="#sub3" data-toggle="collapse"><span class="glyphicon glyphicon-list"></span> 栏目管理<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>  
		<ul class="nav collapse" id="sub3">
			<li><a href="{:url('Cate/index')}"><span class="glyphicon glyphicon-hand-right"></span> 栏目列表</a></li>
		</ul>
				
		<li><a href="#sub4" data-toggle="collapse"><span class="glyphicon glyphicon-certificate"></span> 友情管理<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>  
		<ul class="nav collapse" id="sub4">
			<li><a href="{:url('Friend/index')}"><span class="glyphicon glyphicon-hand-right"></span> 友情列表</a></li>
		</ul>			
	 </ul>	  
	  
  </div>	  